%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        rt => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::rt',
            }
        }
    }
);

%Image::ExifTool::UserDefined::rt = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-rt' },
    NAMESPACE => { 'rt' => 'http://pti.iu.edu/namespace/rt/1.0/' },
    WRITABLE => 'string',
    date_last_modified => {},
    owner => {},
    project => {},
    description => {},
    file_type => {},
    experiment_data_type => {},
    experiment_type => {},
    pcr_method => {},
    microscope => {},
    software => {},
    experiment_condition => {}
);
